<link rel="stylesheet" href="styles.css" />
<div class="messageWrapper">
  <h1><%= title %></h1>
  <% messages.forEach((message, index) => { %> <%const cleanedDate =
  message.added.toString().split("GMT")%>
  <div class="messageBox" id="message<%= index %>">
    <div><%- message.text %></div>
    <div>From: <%- message.user%> - <%- cleanedDate[0]%></div>
    <a href="/message/<%= message.id%>"><button>Info</button></a>
  </div>
  <% }) %>
  <a href="/newmessage" class="info-btn"><button>New Message</button></a>
</div>
;
